body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

body > div {
    padding: 12px 200px;
}

.dark-bg-color {
    background-color: #1f2937;
}

.gray-bg-color {
    background-color: #E5E7EB;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header ul {
    display: flex;
    gap: 10px;
    font-size: 18px;
    color: #E5E7EB;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.header .logo {
    font-size: 24px;
    color: #F9FAF8;
}

.starting-content {
    display: flex;
    justify-content: center;
    padding: 70px 0px;
}

.left-side,
.right-side {
    flex: 1;
}

.left-side > h1 {
    margin: 0px;
    padding: 0px;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

.left-side {
    font-size: 18px;
    color: #E5E7EB;
}

.right-side {
    /* todo start: maybe replace with image */
    background-color: hsla(0, 0%, 54%, 0.705);
    color: white;
    /* todo end */
}
