body {
    margin: 0px;
    padding: 0px;
    outline: red 4px solid;
    min-width: 1140px;
}

/* set all base container elements to set width to match solution */
body > *,
.dark-bg-color > *,
.gray-bg-color > * {
    width: 840px;
    margin: auto;
}


/* give background color elements full page use */
.dark-bg-color {
    background-color: #1f2937;
    width: 100%;
}

.gray-bg-color {
    background-color: #E5E7EB;
    width: 100%;
}

/* use flex to separate header sections */
.header {
    display: flex;
    justify-content: space-between;
}

/* remove and replace default list style */
.header ul {
    display: flex;
    gap: 10px;
    font-size: 18px;
    color: #E5E7EB;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.header .logo {
    font-size: 24px;
    color: #F9FAF8;
}

/*  */
.starting-content {
    display: flex;
    justify-content: center;
    padding: 70px 0px;
}

.left-side,
.right-side {
    flex: 1;
}

/* remove and replace default h1 style */
.left-side > h1 {
    margin: 0px;
    padding: 0px;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

.left-side {
    font-size: 18px;
    color: #E5E7EB;
}

/* todo start: maybe replace with image */
.right-side {
    background-color: hsla(0, 0%, 54%, 0.705);
    color: white;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

button,
.call-to-action {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 5px;
    padding: 4px 20px;
    box-sizing: border-box;
}